*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*home*/
body{
   background-image: linear-gradient(#00000001,#00000063),url(images/home.jpeg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
}
header{
    background-color: rgba(0,0,0,0.7);
    height: 75px;
}

.container{
    max-width: 1400px;
    padding: 3%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#logo{
   background-repeat: no-repeat;
   margin-left: 108px
   ;
 }

 nav ul{
    list-style: none;
 }
 nav ul li{
    display: inline-block;
    color: #DDDDDD;
    align-items: center;
    padding: 15px;
 }